- content_for :title, t(:profile, scope: [:titles])
.small-12.columns.fullwidth
  .row.banner
    .small-12.columns.fullwidth
      .row
        .small-offset-4.small-4.columns.banner-avatar
          %a.th.round= image_tag 'avatar.jpg'
      .row
        .small-3.columns.banner-menu-button.show-for-small-only
          %a{ href: '#', role: 'button', 'data-reveal-id' => 'phone-menu' }
            &nbsp; 
            %i.fa.fa-bars.fa-2x
    
        .small-6.end.columns.banner-name
          %h2.small-only-text-left Andres Perez
.row
  .small-12.columns.card
    .panel
      %p.text-center
        %em
          %i.fa.fa-quote-left
          =t :description, scope: [:profile]
          %i.fa.fa-quote-right
.reveal-modal.xlarge#phone-menu{ 'data-reveal' => '', 'data-reveal-animation' => 'fade' }
  %p Esto es una prueba
